<h1>AGREGUE UN PRODUCTO</h1>
<form action="" method="post">
    <label>nombre</label>
    <input type="text" name="nombre">
    <label>descripcion</label>
    <input type="text" name="descripcion">
    <label>codigo</label>
    <input type="number" name="codigo">
    <label>foto</label>
    <label>stock</label>
    <input type="number" name="stock">
</form>